@font-face {
    font-family: 'NorseBold';
    src: url("font/Norse-Bold.otf");
}

body {
    height: 100vh;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.home {
    display: flex;
    min-height: 100%;
}

.sidebar {
    display: flex;
    background-image: url("images/Background.jpg");
    background-size: cover;
    flex: 1;
    position: relative;
}

.logo-section {
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-section .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.logo .odin-logo {
    height: 150px;
}

.logo-section .text {
    font-family: 'NorseBold';
    color: white;
    font-size: 92px;
    margin: 0;
}

.content {
    background-color: rgb(247, 249, 253);
    flex: 2.5;
    display: flex;
    flex-direction: column;
}

.content .text {
    font-size: 14px;
    padding: 48px;
}

.content .form {
    background-color: white;
    flex: 0 0 auto;
    height: 350px;
    padding: 10px 0px 0px 48px;
    box-shadow: -1px 5px 16px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: -1px 5px 16px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 5px 16px 0px rgba(0,0,0,0.2);
    
}

.italic {
    font-style: italic;
}

.form-container {
    display: flex;
    gap: 64px;
    margin-top: 32px;
}

.first-column, .second-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.buttons {
    padding: 32px 48px 48px 48px;
}

.buttons p {
    margin-top: 30px;
}

.create-acc {
    background-color: #596D48;
    color: white;
    border: 0px;
    padding: 16px 42px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

.login {
    color: #596D48;
    font-weight: bold;
}

.form-container input, .error:focus:not(:placeholder-shown) {
    height: 30px;
    width: 300px;
    border: solid 2px #E5E7EB;
    border-radius: 5px;
}

.form-container .error:placeholder-shown {
    border: solid 2px #ff2a2a;
}

.form-container input:focus, .form-container .error:focus, .form-container .error:focus:not(:placeholder-shown) {
    outline: 2.5px solid #0d48c0;
    box-shadow: 1pt 2pt 5pt 2pt #D3D3D3;
}

.form-container .error:focus:placeholder-shown {
    outline: 2.5px solid #ff2a2a;
}


.form-container label {
    margin-bottom: -15px;
    color: rgb(114, 114, 114);
    font-weight: bold;
}

